@using System.Web
@model ArticleEditViewModel

@{
    <div class="col-md-9 ms-sm-auto col-lg-10 px-0">
            <!--div class="nav-scroller bg-white shadow-sm">
                <nav class="nav nav-underline" aria-label="Secondary navigation">
                    <a class="nav-link active" aria-current="page" href="#">Editor</a>
                </nav>
            </div-->
            <main class="container-fluid px-0 px-md-4">
                @using (Html.BeginForm(FormMethod.Post, new { @id = "form-editor" }))
            {
                    @Html.HiddenFor(x => Model.Id)
                    @Html.HiddenFor(x => Model.Title)
                    @Html.HiddenFor(x => Model.Content)
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="my-3 p-3 bg-white rounded shadow-sm overflow-auto">
                                <div id="editor" class="editor mx-auto">
                                    @Html.Raw(Model.PrevContent)
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="my-3 p-4 bg-white rounded shadow-sm sticky-option">
                                <fieldset>
                                    <legend class="fw-bold">Article Settings</legend>
                                    <div class="mb-3">
                                        <label for="inputSlug" class="form-label">Post Url</label>
                                        @Html.TextBoxFor(x => Model.Slug, new { @id = "inputSlug", @class = "form-control" })
                                    </div>
                                    <div class="mb-3">
                                        <label for="selectCategory" class="form-label">Category</label>
                                        @Html.DropDownListFor(x => Model.Category, Model.SelectListCategory, "Uncategorized", new { @id = "selectCategory", @class = "form-select", @label = "Select Category" })
                                    </div>
                                    <div class="mb-3">
                                        <label for="selectAuthor" class="form-label">Author</label>
                                        @Html.DropDownListFor(x => Model.Author, Model.SelectListAuthor, "No Author", new { @id = "selectAuthor", @class = "form-select", @label = "Select Author" })
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputExcerpt" class="form-label">Excerpt</label>
                                        @Html.TextAreaFor(x => Model.Excerpt, new { @id = "inputExcerpt", @class = "form-control" })
                                    </div>
                                    <button type="submit" id="submit" class="btn btn-primary">Publish</button>
                                </fieldset>

                            </div>
                        </div>
                    </div>
            }
            </main>
    </div>
}

@section Scripts {
    <script src="~/lib/ckeditor5/build/ckeditor.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict'
        })()

        BalloonBlockEditor
            .create(document.querySelector('.editor'), {
                licenseKey: '',
                title: {
                    placeholder: 'Post title'
                },
                placeholder: 'Begin writting your post...'
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                console.warn('Build id: 86ke3fbqsz7d-s6hal3r3f6i2');
                console.error(error);
            });

        $('#form-editor').on('submit', function (e) {
            $('#Title').val(window.editor.plugins.get('Title').getTitle())
            $('#Content').val(window.editor.plugins.get('Title').getBody())
            return true;
        });
    </script>
}
