@model ArticlesListViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <div class="col-md-9 ms-sm-auto col-lg-10 px-0">
        <div class="nav-scroller bg-white shadow-sm">
            <nav class="nav nav-underline" aria-label="Secondary navigation">
                <a class="nav-link active" aria-current="page" href="#">Articles</a>
                <a class="nav-link" href="#">
                    My articles
                    <span class="badge bg-light text-dark rounded-pill align-text-bottom">27</span>
                </a>
                <a class="nav-link" href="#">Published</a>
                <a class="nav-link" href="#">Drafts</a>
            </nav>
        </div>
        <main class="container-fluid">
            <div class="my-3 p-3 bg-white rounded shadow-sm">

                @using (Html.BeginForm(FormMethod.Get, new { @class = "row g-3" }))
                {
                    <div class="col-auto">
                        <label for="inputSearch" class="visually-hidden">Search</label>
                        @Html.TextBoxFor(x => Model.Search, "text", new { name = "search", @class = "form-control form-control-sm", @id = "inputSearch", @placeholder = "Filter by article title..."})
                    </div>
                    <div class="col-auto">
                        <label for="inputSelectCategory" class="visually-hidden">Category</label>
                        @Html.DropDownListFor(x => Model.Category, Model.SelectListCategory, "All Categories", new { @class = "form-select form-select-sm", @id="inputSelectCategory", @aria_label="Choose category" })
                    </div>
                    <div class="col-auto">
                        <label for="inputSelectAuthor" class="visually-hidden">Author</label>
                        @Html.DropDownListFor(x => Model.Author, Model.SelectListAuthor, "All Authors", new { @class = "form-select form-select-sm", @id="inputSelectAuthor", @aria_label="Choose author" })
                    </div>
                    <div class="col-auto">
                        <label for="inputSelectStatus" class="visually-hidden">Status</label>
                        <select name="status" class="form-select form-select-sm" id="inputSelectStatus" aria-label=".form-select-sm example">
                         
                        <option value="" selected>All Status</option>
                            <option value="published">Published</option>
                            <option value="draft">Draft</option>
                        </select>
                    </div>

                    <div class="ms-md-auto col-auto">
                        <label for="inputSelectSort" class="visually-hidden">Sort by</label>
                        <select name="sort" class="form-select form-select-sm" id="inputSelectSort" aria-label=".form-select-sm example">
                            <option value="newest" selected>Sort by Newest</option>
                            <option value="name">Sort by Name</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-sm btn-outline-dark mb-3">Find</button>
                    </div>
                }
                <!--h6 class="border-bottom pb-2 mb-0">Articles</!--h6-->

                <table class="table posts-table">
                    <thead>
                        <tr class="border-top">
                            <th class="table-cell-fit" scope="col">#</th>
                            <th scope="col">Title</th>
                            <th class="table-cell-fit" scope="col">Tags</th>
                            <th class="table-cell-fit" scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Articles!)
                        {
                            var updateDate = item.UpdatedDate.ToString("s");
                            <tr>
                                <td class="posts-table-checker"><input type="checkbox" class="form-check-input" id="exampleCheck1"></td>
                                <td class="posts-table-name">
                                    <a asp-action="Edit" asp-route-id="@item.Id" target="_blank" class="text-dark fw-bold text-decoration-none">@Html.DisplayFor(x => item.Title)</a>
                                    <p>
                                        <span class="entry-meta">
                                            By <span class="text-gray fw5">@Html.DisplayFor(x => item.Author!.DisplayName)</span>

                                            <!---->
                                            • <span class="relative-datetime" data-bs-toggle="tooltip" data-bs-placement="top" data-content="@Html.DisplayFor(x => updateDate)"></span>

                                        </span>
                                    </p>
                                </td>
                                <td class="posts-table-status"><span class="badge rounded-pill bg-dark">Dark</span></td>
                                <td class="posts-table-status"><span class="badge rounded-pill bg-dark">Published</span></td>
                            </tr>
                        }
                    </tbody>
                </table>

                <small class="d-block text-end mt-3">
                    <a href="#">All updates</a>
                </small>
            </div>

        </main>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        (function () {
            'use strict'

            $('.relative-datetime').each(function () {
                let data = $(this).attr('data-content');
                if (data) {
                    let dateTime = moment.utc(data);
                    $(this).text(dateTime.startOf('second').fromNow());
                    $(this).attr('title', dateTime.format('lll'));
                }
            });

        })()
    </script>
}
